<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Confirmação</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Confirmação final</h1>

    <p>Você realmente deseja continuar?</p>

    <p>Escolha uma opção abaixo cuidadosamente.</p>

    <br>

    <!-- Botões propositalmente confusos -->

    <button onclick="nao()">NÃO</button>

    <button onclick="talvez()">TALVEZ NÃO</button>

    <button onclick="continuar()">SIM, MAS NÃO TENHO CERTEZA</button>

    <a href="/sem-confirmar">
        CONTINUAR SEM CONFIRMAR
    </a>

    <script>

        // Botão que não permite continuar
        function nao() {
            alert("Você escolheu não continuar. Mas talvez devesse continuar.");
        }

        // Botão com mensagem confusa
        function talvez() {
            alert("Resposta considerada inadequada. Tente novamente.");
        }

        // Botão que permite finalizar o cadastro
        function continuar() {
            alert("Você tem certeza? Enfim... vamos continuar.");

           window.location.href = "/final";
        }

    </script>

</body>

</html>
